.mainContainer{
  max-width: 700px;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    margin: auto;
}



.modalCntnt{
  display: flex;
  justify-content: space-evenly;
}

.custom-sidebar{
  width: 90px !important;
  
}

.custom-sidebar-bg {
  height: 100vh;
}
.custom-sidebar-bg.light {
  background-color: white !important;
}

.custom-sidebar-bg.dark {
  background-color: #18181B !important;
}



.offcanvas-header{
  justify-content: center;
}

.offcanvas-body {
  padding: 0 !important;
}

.userName {
  max-width: 70px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  text-align: center;
  font-size: 16px;
}


.pieGraph {
  height: 250px;
  width: 250px;
  margin: auto;
}

.barChart {
  height: 15rem;
  margin: 0 20px 40px 20px;
}

.toast{
  position: fixed;
  top: 1rem;
  left: 0.5rem;
  z-index: 10000;
  width: 15rem !important;
}

.welcomeMsg {
  background-color: #ffeb79;
  padding: 0.3rem;
  border-radius: 8px;
}

.loginMenu {
  display: flex;
  align-items: center;
  padding: 5px 0 0 5px;
}


.pageBG {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2048' height='1080' preserveAspectRatio='none' viewBox='0 0 2048 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1751%26quot%3b)' fill='none'%3e%3crect width='2048' height='1080' x='0' y='0' fill='rgba(33%2c 37%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M1235.094%2c1204.21C1300.472%2c1207.495%2c1362.531%2c1170.708%2c1394.264%2c1113.454C1425.117%2c1057.786%2c1419.347%2c988.511%2c1383.967%2c935.605C1352.078%2c887.918%2c1292.431%2c877.286%2c1235.094%2c875.433C1173.008%2c873.426%2c1100.468%2c872.112%2c1068.562%2c925.41C1036.189%2c979.487%2c1069.093%2c1044.63%2c1101.413%2c1098.738C1132.609%2c1150.965%2c1174.336%2c1201.157%2c1235.094%2c1204.21' fill='rgba(255%2c 235%2c 121%2c 0.54)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1175.801%2c459.023C1214.565%2c459.466%2c1247.247%2c433.388%2c1266.799%2c399.913C1286.546%2c366.104%2c1293.801%2c324.459%2c1274.192%2c290.569C1254.61%2c256.725%2c1214.828%2c240.244%2c1175.801%2c242.64C1140.536%2c244.805%2c1113.671%2c270.71%2c1096.327%2c301.491C1079.366%2c331.594%2c1072.772%2c367.025%2c1088.335%2c397.874C1105.509%2c431.915%2c1137.675%2c458.587%2c1175.801%2c459.023' fill='rgba(255%2c 235%2c 121%2c 0.54)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M249.42%2c848.86C282.329%2c847.225%2c305.045%2c819.322%2c320.688%2c790.322C335.36%2c763.122%2c340.608%2c732.081%2c327.514%2c704.087C312.024%2c670.971%2c285.896%2c640.44%2c249.42%2c637.957C209.219%2c635.22%2c169.283%2c656.412%2c150.444%2c692.031C132.571%2c725.822%2c144.332%2c765.742%2c164.733%2c798.069C183.562%2c827.904%2c214.183%2c850.61%2c249.42%2c848.86' fill='rgba(255%2c 235%2c 121%2c 0.54)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M114.224%2c773.565C161.141%2c774.109%2c199.669%2c741.353%2c223.735%2c701.075C248.556%2c659.533%2c262.236%2c608.272%2c238.015%2c566.378C213.813%2c524.516%2c162.555%2c513.177%2c114.224%2c511.657C62.207%2c510.021%2c1.696%2c512.79%2c-23.828%2c558.144C-49.1%2c603.05%2c-18.775%2c655.198%2c9.028%2c698.583C33.93%2c737.441%2c68.074%2c773.029%2c114.224%2c773.565' fill='rgba(255%2c 235%2c 121%2c 0.54)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1951.848%2c316.568C2005.767%2c320.278%2c2061.236%2c299.671%2c2089.364%2c253.521C2118.514%2c205.694%2c2115.431%2c144.319%2c2085.804%2c96.786C2057.757%2c51.788%2c2004.861%2c31.861%2c1951.848%2c32.892C1900.788%2c33.885%2c1850.579%2c56.724%2c1826.619%2c101.825C1803.848%2c144.688%2c1819.17%2c194.683%2c1843.62%2c236.611C1867.838%2c278.14%2c1903.887%2c313.268%2c1951.848%2c316.568' fill='rgba(255%2c 235%2c 121%2c 0.54)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1751'%3e%3crect width='2048' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.formCard {
  background-color: rgba(12, 13, 14, 0.6) !important;
  border-radius: 0.25rem;

  backdrop-filter: blur(3px);           /* štandardný zápis */
  -webkit-backdrop-filter: blur(3px);   /* podpora pre Safari */

  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  color: white; /* aby text bol dobre čitateľný na tmavom pozadí */
}


.formCard input {
  background-color: transparent;
  border: 1px solid gray;
  color: white !important;
  border-top: none ;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.formCard .form-floating > .form-control:focus ~ label,
.formCard .form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(.85) translateY(-1rem) translateX(0.15rem) !important;
  color: lightgray !important;
}

.formCard input:focus {
  background-color: transparent;
  border-bottom: 1px solid #ffeb79;
  box-shadow: none !important;
  height: 2rem !important;
}

.form-floating > label::after {
    background-color: transparent !important;
}

.form-floating > label {
  color: white !important;
}

.btn-warning-custom {
  background-color: #ffeb79 !important;
  color: black !important;
}


.btn-warning-custom:hover {
  background-color: #ffe658 !important ;
}

.checkBoxLarge {
  height: 20px !important;
  width: 20px !important;
  padding: 5px !important;
}
.hvrOption{
  padding: 2px;
}

.hvrOption:hover {
  cursor: pointer;
}

.hvrOpt:hover{
  cursor: pointer;
}
.form-check-input {
  float: left;
  margin-left: 0 !important; 
}

.form-switch{
  padding: 0 !important;
}
.modeWrapper{
  margin: 0 auto 0 auto;
}

.logoutBtn{
  margin: auto 1rem 1rem 1rem;
}

.input-group-text{
  background-color: #F8F9FA !important;
  border-radius: 0 !important;
}
.maxNmb{
  border-radius: 0 !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.yelow1{
  background-color: #FFD700 !important;
}
.yelow{
  border: 1px solid #D4A017 !important;
  color: #D4A017 !important;
}
.btn-check:checked + .yelow {
  background-color: #D4A017 !important;
  color: white !important;
  border-color: #D4A017 !important;
}

.rangeSizer{
  width: 250px;
}
.borderForm{
  border-radius: 0 !important;
}

.rozsahText{
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rangeHolder{
  width: 350px !important;
  margin: 5rem 5rem 0 0;
}
.toggler:checked {
  background-color: #313e4b !important; 
  border-color: transparent !important;
}

.toggler:hover {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none !important; 
  outline: none !important;   
}

.toggler {
  border: 1px solid #ccc !important; 
}


.logoIMG{
  height: 80px;
  object-fit: cover;
  position: fixed;
  bottom: 0;
  left: 0;
}

.logoIMG2{
  height: 100px;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.credentials{
  margin-top: 1rem;
  color: lightgray;
  font-size: 0.8rem;
}

.ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  text-align: center;
  
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1700px) { 
  .rangeHolder{
    margin: 2rem 1rem 0 0;
  }
}

@media (max-width: 1450px) { 
    .rangeHolder{
      position: initial !important;
      margin: auto;
      margin-top: 1rem;
    }
    .ftr{
      margin-top: 2rem;
    }
}
@media (max-width: 995px) {
    .modalCntnt{
      display: block ;
    }
    .graphHolder{
      margin-top: 2rem;
    }
    
  }

@media (max-width: 940px) { 
  .logoIMG{
    position: relative;
  }
  .credentials{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .ftr{
    margin-top: 3rem;
    height: 5rem;
  }
}

@media (max-width: 768px) { 
  .mainContainer {
    margin: auto;
    width: 95%;
    }
    
    #resolve{
      margin-top: 1rem !important;
    }
    .loginMenu{
      justify-content: center;
      margin-bottom: 1rem;
    }
}

@media(max-width: 400px){
  .pieGraph{
    width: 230px;
    height: 230px;
  }
}


@media (max-width: 364px) { 
  .doubleMenu{
    flex-direction: column;
    gap: 0.3rem;
  }
  .btn-group{
    margin: 0;
  }
  .toggler{
    margin-bottom: 1rem;
  }
  .rangeHolder{
    width: 310px !important;
  }

}
