.mainContainer{
  max-width: 700px;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    margin: auto;
}


.toast{
  position: fixed;
  top: 1rem;
  left: 0.5rem;
  z-index: 10000;
  width: 15rem !important;
}

.welcomeMsg {
  background-color: #FFD700;
  padding: 0.5rem;
}

.loginMenu {
  display: flex;
  align-items: center;
  padding: 5px 0 0 5px;
}

.pageBG {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(33%2c 37%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M -705.7761951583584%2c63 C -609.78%2c147.8 -417.78%2c458.4 -225.77619515835835%2c487 C -33.78%2c515.6 62.22%2c239.8 254.22380484164165%2c206 C 446.22%2c172.2 542.22%2c330.4 734.2238048416416%2c318 C 926.22%2c305.6 1073.07%2c136.2 1214.2238048416416%2c144 C 1355.38%2c151.8 1394.84%2c314.4 1440%2c357' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -412.1988185998939%2c322 C -316.2%2c311.2 -124.2%2c267.8 67.80118140010612%2c268 C 259.8%2c268.2 355.8%2c345 547.8011814001061%2c323 C 739.8%2c301 835.8%2c142.4 1027.801181400106%2c158 C 1219.8%2c173.6 1425.36%2c395.8 1507.801181400106%2c401 C 1590.24%2c406.2 1453.56%2c227.4 1440%2c184' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -203.86843320846629%2c91 C -107.87%2c153.8 84.13%2c407 276.1315667915337%2c405 C 468.13%2c403 564.13%2c104.8 756.1315667915337%2c81 C 948.13%2c57.2 1044.13%2c249.2 1236.1315667915337%2c286 C 1428.13%2c322.8 1675.36%2c249.6 1716.1315667915337%2c265 C 1756.91%2c280.4 1495.23%2c343.4 1440%2c363' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");background-size: cover;
}

.formCard {
  background-color: rgba(12, 13, 14, 0.6) !important;
  border-radius: 0.25rem;

  backdrop-filter: blur(3px);           /* štandardný zápis */
  -webkit-backdrop-filter: blur(3px);   /* podpora pre Safari */

  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  color: white; /* aby text bol dobre čitateľný na tmavom pozadí */
}


.formCard input {
  background-color: rgb(247, 247, 247);
}



.checkBoxLarge {
  height: 20px !important;
  width: 20px !important;
  padding: 5px !important;
}
.hvrOption{
  padding: 2px;
}

.hvrOption:hover {
  cursor: pointer;
}

.hvrOpt:hover{
  cursor: pointer;
}
.form-check-input {
  float: left;
  margin-left: 0 !important; 
}

.form-switch{
  padding: 0 !important;
}
.modeWrapper{
  margin-right: 1rem;
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}

.input-group-text{
  background-color: #F8F9FA !important;
  border-radius: 0 !important;
}
.maxNmb{
  border-radius: 0 !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.yelow1{
  background-color: #FFD700 !important;
}
.yelow{
  border: 1px solid #D4A017 !important;
  color: #D4A017 !important;
}
.btn-check:checked + .yelow {
  background-color: #D4A017 !important;
  color: white !important;
  border-color: #D4A017 !important;
}

.rangeSizer{
  width: 250px;
}
.borderForm{
  border-radius: 0 !important;
}

.rozsahText{
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rangeHolder{
  width: 350px !important;
  margin: 5rem 5rem 0 0;
}
.toggler:checked {
  background-color: transparent !important; 
  border-color: #ccc !important; 
}

.toggler:hover {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none !important; 
  outline: none !important;   
}

.toggler {
  border: 1px solid #ccc !important; 
}


.logoIMG{
  height: 80px;
  object-fit: cover;
  position: fixed;
  bottom: 0;
  left: 0;
}

.logoIMG2{
  height: 150px;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.credentials{
  margin-top: 1rem;
  color: lightgray;
  font-size: 0.8rem;
}

.ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  text-align: center;
  
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1700px) { 
  .rangeHolder{
    margin: 2rem 1rem 0 0;
  }
}

@media (max-width: 1450px) { 
    .rangeHolder{
      position: initial !important;
      margin: auto;
      margin-top: 1rem;
    }
    .ftr{
      margin-top: 2rem;
    }
}

@media (max-width: 940px) { 
  .logoIMG{
    position: relative;
  }
  .credentials{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .ftr{
    margin-top: 3rem;
    height: 5rem;
  }
}

@media (max-width: 768px) { 
  .mainContainer {
    margin: auto;
    width: 95%;
    }
    
    #resolve{
      margin-top: 1rem !important;
    }
    .loginMenu{
      justify-content: center;
      margin-bottom: 1rem;
    }
}

@media (max-width: 364px) { 
  .doubleMenu{
    flex-direction: column;
    gap: 0.3rem;
  }
  .btn-group{
    margin: 0;
  }
  .toggler{
    margin-bottom: 1rem;
  }
  .rangeHolder{
    width: 310px !important;
  }

}
